In [8]:
import pandas as pd

In [9]:
# the data is from https://www.kaggle.com/datasets/maso0dahmed/football-players-data
player = pd.read_csv("fifa_players_original.csv")
player

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

In [11]:
# using senven columns and 500 rows
player_cleans = player.loc[0:499,['name','birth_date','height_cm','weight_kgs','positions','nationality','overall_rating']]

player_cleans['birth_date'] = pd.to_datetime(player_cleans['birth_date'])

player_cleans

,name,birth_date,height_cm,weight_kgs,positions,nationality,overall_rating
0,L. Messi,1987-06-24,170.18,72.1,"CF,RW,ST",Argentina,94
1,C. Eriksen,1992-02-14,154.94,76.2,"CAM,RM,CM",Denmark,88
2,P. Pogba,1993-03-15,190.50,83.9,"CM,CAM",France,88
3,L. Insigne,1991-06-04,162.56,59.0,"LW,ST",Italy,88
4,K. Koulibaly,1991-06-20,187.96,88.9,CB,Senegal,88
...,...,...,...,...,...,...,...
495,A. Musa,1992-10-14,170.18,62.1,"LM,ST",Nigeria,75
496,M. Morozyuk,1988-01-17,175.26,71.2,"RB,RM,LB,LM",Ukraine,75
497,G. Schennikov,1991-04-27,154.94,74.8,"LWB,LM",Russia,75
498,André Ramalho,1992-02-16,182.88,78.0,"CB,CDM",Brazil,75
499,T. Foket,1994-09-25,152.40,73.9,RB,Belgium,75

In [ ]:
player_cleans.to_csv('../data processing/fifa_player_clean.csv')

In [12]:
player_cleans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            500 non-null    object
 1   birth_date      500 non-null    datetime64[ns]
 2   height_cm       500 non-null    float64
 3   weight_kgs      500 non-null    float64
 4   positions       500 non-null    object
 5   nationality     500 non-null    object
 6   overall_rating  500 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 27.5+ KB